$title_font: "Tahoma"
$title_font_size: 2.3rem
$basic_text_font: "Trebuchet MS"
$basic_text_font_size: 1rem

div
    margin: 
        top: 10px 
        right: 30px 
        bottom: 30px 
        left: 40px

h1
    font-family: $title_font
    font-size: $title_font_size

p
    font-family: $basic_text_font
    font-size: $basic_text_font_size

button
    font-family: $basic_text_font
    font-size: $basic_text_font_size


    