$title_font: "Tahoma"
$title_font_size: 2.3rem
$subtitle_font: "Trebuchet MS"
$subtitle_font_size: 1.5rem
$basic_highlight_font: "Trebuchet MS"
$basic_highlight_font_size: 1rem
$basic_text_font: "Trebuchet MS"
$basic_text_font_size: 1rem

div
    margin: 
        top: 10px 
        right: 20px 
        bottom: 10px 
        left: 20px

h1
    font-family: $title_font
    font-size: $title_font_size

h2
    font-family: $subtitle_font
    font-size: $subtitle_font_size

h5
    font-family: $basic_highlight_font
    font-size: $basic_highlight_font_size
    font-style: italic

p
    font-family: $basic_text_font
    font-size: $basic_text_font_size

button
    font-family: $basic_text_font
    font-size: $basic_text_font_size


    